body {
    background-image:linear-gradient(to bottom right, #4dc3ff, #e6f7ff);
}
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 31.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    margin-right:1%;
    margin-left:1%;
    margin-top:1%;
    background-color:crimson;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .topnav {
    overflow: hidden;
    background-color: #EF8713;
    border-radius:2px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #title {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
  }
  
  #logo {
      padding:2px 2px;
      height:40;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: white;
  }